*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --default: #121213;
    --empty: #3a3a3c;
    --wrong: #cfb645;
    --right: #51a34a;
}

#overlay {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(115, 131, 160, 0.707);
    z-index: 3;
    
}

#close{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.4rem;
    color: black;
    cursor: pointer;
}

#emojis {
    align-self: center;
    font-size: 2.0rem;
    color: #121213;
}

#emojis p {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 200px;
    border-radius: 10%;
    background-color: whitesmoke;

}

#overlayButton {
    margin-bottom: 20px;
    display: none;
}

.title {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    text-shadow: 2px 2px 3px #121213;

}

.title *
{
    padding: 5px;

    margin: 5px;
    align-self: center;
}

body {
    background-color: grey;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
}

.submit { 
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playChord {
    font-size: 1.0rem;
}



.guesses {
    margin: 10px;
    display: grid;
    place-items: center;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(5, auto);
}

.box {
    width: 40px;
    height: 40px;
    border: 2px solid var(--empty);
    border-radius: 10%;
    margin: 4px;
    color: white;
    display: grid;
    place-items: center;
    font-size: 1.6rem;
}

.box.empty {
    background: var(--empty);
}

.box.wrong {
    background: var(--wrong);
}

.box.right {
    background: var(--right);
}
.hint {
    opacity: 0;
    margin: 0;
}

.hint.shown {
    opacity: 100;
}




.piano {
    display: flex;
}


.key {
    height: calc(var(--width) * 4);
    width: var(--width);
}

.white {
    --width: 80px;
    background-color: white;
    border: 1px solid #333;
}

.white.active {
    background-color: #CCC;
}

.white.play {
    background-color: rgb(160, 230, 251);
}



.black {
    z-index: 2;
    --width: 45px;
    margin-left: calc(var(--width)/-2);
    margin-right: calc(var(--width)/-2);
    background-color: black;
    border: 1px solid #333;
}


.black.active {
    background-color: #333;
}
.black.play {
    background-color: orange;
}

/* mobile formatting */
@media screen and (max-width: 500px){
    .black {
        --width: 20px;
        margin-left: calc(var(--width)/-2);
        margin-right: calc(var(--width)/-2);
    }


    .white {
        --width: 30px;
    }
}
